*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #cdcdcd;
}
.dashboard{
    display: flex;
    flex-direction: column;
}
.dashboard__container{
    /* background-color:#777; */
    /* padding:50px; */
    width:700px;
    margin:0px 0px 0px 100px;
    align-items: center;
}
input[type="text"]{
    display:block;
    height: 50px;
    width:100%;
    outline-style: none;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 20px;
}
.dashboard__container .dashboard__submit--btn{
    width: 100px;
    border-radius: 100px;
    background-color: #5057FD;
    color: #fff;
    height: 30px;
    border-style: none;
    cursor: pointer;
}
.dashboard__container textarea{
    width:100%;
    height:200px;
}
.header{
	min-height: 30vh; 
	width: 100%;
	background-position: center;
	background-size: cover;
}

.header .logo{
    font-size: 20px;
    font-weight: bolder;
    color: #000; 
    font-family: 'poppins', sans-serif;
    font-weight: 400;
}
nav{
    font-family: 'poppins', sans-serif;
    font-weight: 400;
	display: flex;
	padding:20px;
    width: 100%;
	justify-content: space-between;
	align-items: center; 
    background-color: #FF3D55;
}
.nav-links{
    text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 13px; 
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
    background: #5057FD;
    display: block;
    margin: auto;
    transition: 0.5s
}
.nav-links ul li:hover::after{
	width: 100%;
}
/* blogs */ 

.blog{
    /* width: 80%; */
    /* margin: auto; */
    text-align: center;
    /* margin-top: 10px; */
    display:grid;
    grid-template-columns: auto auto auto;
	/* justify-content: space-between; */
    
}

.blog__update--btn{
    display: inline;
    width: 100px;
    border-radius: 100px;
    height: 30px;
    border-style: none;
    background-color: #5057FD;
    color: white;
    cursor:pointer;
}
.dashboard__update--btn{
    display: inline;
    width: 100px;
    border-radius: 100px;
    height: 30px;
    border-style: none;
    background-color: #5057FD;
    color: white;
    cursor:pointer; 
   
}
.blog__delete--btn{
    display: inline;
    width: 100px;
    border-radius: 100px;
    height: 30px;
    border-style: none;  
    background-color:rgba(248, 66, 66, 0.603);
    color: white;
    cursor:pointer;
    /* padding: 100px; */
    margin-top: 10px;
    margin-bottom: 0px;
}
.row{
	margin-top: 5%;
	display:grid;
    grid-template-columns: auto auto auto;
     /* margin-left: 20px; */
     padding: 20px;
	/* justify-content: space-between; */
}
.blog-col{
   /* width: 100%; */
    /* flex-basis: 31%; */
    border-radius: 10px;
    margin-bottom: 5%;
    /* margin-right: 40px; */
    
    text-align: left;
    /* background: #25252d; */
    background: rgba(245, 236, 236, 0.842);
    padding:7px;
    cursor: pointer;
 }
.bbb{
    display: none;
}

 .blog-col h3{
    font-family: 'poppins', sans-serif;
    font-weight: 400;
     text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: left;
    font-size:20px;
    /* background-color: rgb(7, 214, 214); */
    word-break: break-all;
}
.blog-col p{
   font-size: 16px;
   width:100%;
   height: auto;
   display:inline-block;
   word-break: break-all;
   margin-bottom: 20px;
}
 .blog-col:hover{
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.blog-col img{
 	width: 100%;
 	border-radius: 10px;
 }
 /* .row1{
	margin-top: -4%;
	margin-left: 5%;
	display: flex;
   
	justify-content: space-between;
    margin-bottom: 10%;
} */
.blog-col1{
    flex-basis: 31%;
    text-align: left;
 }
 .nav-active{
    transform: translateX(0%) !important;
}


/* footer */
footer{
    margin-bottom: 0px;
    width: 100%;
    height: auto;
    padding: 2rem 8.5rem 2rem;
    background: #25252d;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-top-right-radius: 6rem;
}
footer .logo1{
    color: #fff;
}
footer .footer-box{
    display: block;
    flex-basis: 20%;
}
footer .footer-box h6{
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: hsl(0, 0%, 100%);
    margin-bottom: 2rem;
}
footer .footer-box ul li{
    list-style: none;
    margin-bottom: 1rem;
}
footer .footer-box ul li a{
    text-decoration: none;
    color: hsl(240, 2%, 79%);
    font-size: 1rem;
    transition: .5s;
    cursor: pointer;
}
footer .footer-box ul li a:hover{
    text-decoration: underline;
    color:#5057FD;
}
.footer-box .textArea{
    width: 100%;
    border-radius:5px;
    height:35px;
    border: 1px solid #000;
    border-radius: 4px; 
    outline-style: none;
}
.footer-box .btnArea{
    width: 50%;
    border-radius:5px;
    height:30px;
    border: 1px solid #000;
    border-radius: 4px; 
    outline-style: none;
    background-color: #5057FD;
}

.nav-active{
    transform: translateX(0%) !important;
}
